<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Blog - CERBERUS</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body class="home">
<div class="container">
    <header class="screen text-center">
        <h3 class="title">NULLSWEEP</h3>
        <div class="box--outer">
            <div class="box">
                <div class="box--inner">
                    <div class="content">
                        <div class="holder">
<!--                            <h1 id="logo"><img src="/static/images/logo.png" alt="CERBERUS Logo"></h1>-->
                            <p>An archive of tech.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Scrollable Articles Section -->
    <div class="articles-container">
        <div class="articles">
            <!-- Articles will be injected here by JavaScript -->
        </div>
    </div>
</div>

<!-- JavaScript Link -->
<script src="/static/js/articles.js"></script>
</body>
</html>
